.banner {
  margin-top: 4vh;
  height: 60vh;
  width: 60vmax;
  margin:1vh auto;
  align-items:center;
}

.homeHeading {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4vmax;
  width: 20vmax;
  padding: 1vmax;
  margin: 0vmax auto;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  color: rgba(0, 0, 0, 0.7);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 80vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

.container .productCard {
  width: 20vmax;
  text-decoration: none;
  color: #303030;
  margin: 2vmax;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .productCard img {
  width: 20vmax;
  border-radius: 10px 10px 0px 0px;
}

.container .productCard p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.5vmax;
  font-weight: 500;
  margin: 1vmax 0.5vmax;
  margin-bottom: 1vmax;
}

.container .productCard div {
  margin: 0.5vmax 0vmax;
  margin-left: 0.1vmax;
  width: 17vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .productCard div .stars {
  width: 10vmax;
}

.container .productCard div .span {
  margin-top: 0.8vmax 0vmax;
  font: 500 1.2vmax "Roboto", Arial, sans-serif;
  width: 10vmax;
  /* text-align: center; */
}

.container .productCard > .productPriceSpan {
  margin: 0.5vmax;
  color: tomato;
  font: 600 1.7vmax "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container .productCard:hover {
  -webkit-box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
          box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  -webkit-transform: translateY(-1vmax);
          transform: translateY(-1vmax);
}
.more{
    margin:0% 0% 5% 45%;
}
.more > a{
  color: white;
  font: 400 1.3vmax "Roboto";
  border: none;
  background-color: tomato;
  text-decoration: none;
  padding: 1.0vmax;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.more > a:hover {
  background-color: #cc4e38;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/
@media screen and (max-width: 1000px) {

  .banner {
  height: 50vh;
  width: 90vw;
  margin:6vh auto 2vh;
 }
}

@media screen and (max-width: 620px) {

  .container .productCard p {
    font-size: 2vmax;
    margin-left: 20px;
  }
  .container .productCard div {
      margin: 0.5vmax 17px;
      font-size: 2vmax;
  }
  .container .productCard img {
    width: 30vmax;
    border-radius: 10px 10px 0px 0px;
    margin:0px 20px;
    height: 206px;
  }

  .container .productCard {
  width: 40vmax;
  text-decoration: none;
  color: #303030;
  -webkit-box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  margin: 2vmax;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  border-radius: 10px;
  height:47vh;
 }
  .banner {
  height: 32vh;
  width: 90vw;
  margin:6vh auto 2vh;
}
  .container .productCard div .stars {
    width: 15vmax;
  }
  .container .productCard div .span {
    margin: 0.2vmax 0.3vmax;
    font: 500 1.5vmax "Roboto", Arial, sans-serif;
  }
  .container .productCard > .productPriceSpan {
    font-size: 2.5vmax;
    margin-left: 20px;
  }
  .more{
    margin:0% 31% 12%;
  }
  .more > a {
    font: 400 1.7vmax "Roboto";
    padding: 2vmax;
  }
}