@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

.appbar{
  z-index: 2;
}

h1{
  font-size: 2vmax;
  font-family: "Roboto", Arial, sans-serif;
  color: #fcfcfc;
}

.speedDial {
  position: absolute;
  right: 3vmax;
  top: 0.3vmax;
}

.speedDial .speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.speedDial .speedDialBtns:hover {
  color: tomato;
}

.navBarLink{
  color: white;
  margin: 0 1vmax;
}

.first{
  color: white;
  margin:0 1vmax 0 40vw;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 
/* navbar style start  */
.main-nav {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 100;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.close {
  display: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-link {
  width: 50%;
}

.menu-link ul {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-link ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media {
  width: 25%;
}

.social-media ul {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */
.menu-link ul li {
  font-size: 1.3vmax;
  margin: 1rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-link ul li:hover > a {
  -webkit-transform-origin: left;
          transform-origin: left;
  color: #000003;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
  margin: 0.2rem;
}

.social-media .hamburger-menu {
  display: none;
}

.facebook {
  color: rgb(255, 255, 255);
  width: 3vmax;
  height: 3.5vh;
}
.facebook1 {
  color: tomato;
  width: 4vmax;
  height: 4vh;
}

.facebook:hover{
  color: tomato;
}

/* hero section   */
.hero-section {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-section p {
  font-size: 3rem;
  text-transform: capitalize;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/
@media (max-width: 800px) {
  h1{
  font-size: 3vmax;
  font-family: "Roboto", Arial, sans-serif;
  color: #fcfcfc;
}
  .menu-link ul li {
    font-size: 2vmax !important;
  }
  .menu-link ul div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-media ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -1rem;
  }
  
}